.selectBox{
    position:relative;
}

/* this is where i left off*/
.selectBox_popup{
    position: absolute;
    right: 0px;
    bottom: -110px;
    z-index: var(--close);
    background-color: var(--dialog-popup-bg);
    width: 192px;
    height: 94px;
    box-shadow: var(--dialog-popup-box-shadow);
    border-radius: 8px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}


.selectBox_threeDots_button{
    height: 20px;
    object-fit: contain;
    cursor: pointer;
}