
.inputContainer{
    display: flex;
    gap: 16px;
    align-items: center;
}

.inputContainer_fieldset{
    position: relative;
}

.inputContainers_input{
    width: 385px;
    height: 40px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;
    padding-left: 16px;
    font-family: var(--font-jakarta);
    font-size: var(--body-large-font-size);
    font-weight: var(--body-large-font-weight);
    line-height: var(--body-large-line-height);
    color: var(--dialog-input-text-color);
}

.inputContainer_emptyMessage{
    display: none;
    height: 23px;
    position: absolute;
    right: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #EA5555;
    font-family: var(--font-jakarta);
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
}

.inputContainers_input:hover{
    border: 1px solid #635FC7;
}

.inputContainers_input:focus{
    outline: none;
    border: 2px solid #635FC7;
}

.inputContainer_closeIcon{
    mask: url('./icons/icon-cross.svg');
    -webkit-mask: url('./icons/icon-cross.svg');
    width: 15px;
    height: 15px;
    background-color: #828FA3;
    cursor: pointer;
}

.inputContainer_closeIcon:hover {
    background-color: #EA5555;
}