.header_kanban_title{
    font-family: var(--font-jakarta);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
    color: var(--header-title-text-color);
    position: relative;
    left: 0px;
}

.arrowDown{
    width: 8px;
    object-fit: contain;

}

.addBoardButton{
    width: 240px;
    height: 48px;
    font-family: var(--font-jakarta);
    font-size: 15px;
    line-height: 18.9px;
    font-weight: 700;
    border: none;
    color: #635FC7;
    background-color: transparent;
    padding-left: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    margin-bottom: 16px;
}

.iconBoard{
    width: 16px;
    object-fit: contain;
}

@media(max-width: 780px){
    .header_kanban_title{
        font-size: 18px;
        line-height: 23px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 160px;
        cursor: pointer;
    }
}