.header_kanban_title{
    font-family: var(--font-jakarta);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
    color: var(--header-title-text-color);
    position: relative;
    left: 0px;
}

.arrowDown{
    width: 8px;
    object-fit: contain;

}

@media(max-width: 780px){
    .header_kanban_title{
        font-size: 18px;
        line-height: 23px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 160px;
        cursor: pointer;
    }
}