.sidebar_addBoardButton{
    border: none;
    background-color: transparent;
    color: #635FC7;
    cursor: pointer;
    font-family: var(--font-jakarta);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    width: 276px;
    height: 48px;
    text-align: initial;
    padding-left: 32px;
    display: flex;
    align-items: center;
}

.iconContainer{
    margin: 3px 16px 0px 0px;
}

.icon{
    fill: #635FC7;
}


.dialog_title{
    font-family: var(--font-jakarta);
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);
    color: var(--dialog-text-color);
    padding: 32px 32px 24px 32px;
}

.form{
    width: 100%;
}

.dialog_content{
    width: 480px;
    height: 429px;
    padding: 0px 32px 32px 0px;
}

.dialog_submit{
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    background-color: #635FC7;
    font-family: var(--font-jakarta);
    font-size: var(--body-large-font-size);
    font-weight: var(--body-large-font-weight);
    line-height: var(--body-large-line-height);
    color: white;
    cursor: pointer;
}

.dialog_submit:hover{
    background-color: #A8A4FF;
}