.header_addNewTask_button{
    width: 164px;
    height: 48px;
    border-radius: 24px;
    background-color: #635FC7;
    border: none;
    cursor: pointer;
    font-family: var(--font-jakarta);
    font-size: var(--body-large-font-size);
    font-weight: var(--body-large-font-weight);
    line-height: var(--body-large-line-height);
    color: white;
}

.header_addNewTask_button:hover{
    background-color: var(--header-add-task-hover-button)
}
