.container{
    position: relative;
}

.threeDotsIcon{
    cursor: pointer;
    height: 20px;
    object-fit: contain;
}

.popup{
    position: absolute;
    top: 0px;
    left: -100px;
    background-color: var(--dialog-popup-bg);
    width: 192px;
    height: 94px;
    padding: 16px;
    display: none;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
}

.popup_option{
    cursor: pointer;
    background-color: white;
    border: none;
    text-align: left;
    font-family: var(--font-jakarta);
    line-height: 23px;
    font-size: 13px;
    font-weight: 500;
}

.popup_option:hover{
    text-decoration: underline;
}

.popup_option:first-child{
    color: #828FA3;
}

.popup_option:last-child{
    color: #EA5555;
}