.allColumns{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.allColumns_title{
    font-family: var(--font-jakarta);
    font-size: var(--body-medium-font-size);
    font-weight: var(--body-medium-font-weight);
    line-height: var(--body-medium-line-height);
    color: var(--dialog-label-text-color);
}

.allColumns_columns{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 4px;
}

.allColumns_addColumnButton{
    height: 40px;
    background-color: var(--dialog-add-button);
    border-radius: 20px;
    border: none;
    font-family: var(--font-jakarta);
    font-size: 13px;
    font-weight: 700;
    line-height: 23px;
    color: #635FC7;
    cursor: pointer;
}

.allColumns_addColumnButton:hover{
    background-color: var(--dialog-hover-add-button);
}


